//Variables
$blueShade : #102eff;
$pinkShade : #d2379b;
$blackShade : #191E23;
$whiteShade : #ebf6ff;
$shadow: 0 8px 16px rgba(82, 82, 82, 0.3);
$gradient: linear-gradient(45deg, #102eff, #d2379b);

//Imports
@import "base/base.scss";
@import "components/nav.scss";
@import "components/footer.scss";
@import "page/index";
@import "page/skill";
@import "page/project";