.project-title{
  margin: auto;
  text-align: center;
  grid-column: 1/3;
  grid-row: 2/3;
  justify-content: center;
  padding: 150px;
  color: $pinkShade;
  background-image: url("https://static.wixstatic.com/media/11062b_3bc0a742dcc54a698a440056823c715f~mv2.jpg/v1/fill/w_1899,h_600,al_t,q_85,usm_0.66_1.00_0.01/11062b_3bc0a742dcc54a698a440056823c715f~mv2.webp");

  > .title-div{
    background-color: rgba(219, 219, 219, 0.7);
    text-align: center;
    padding: 20px;
    box-shadow: $shadow;
  }
}

.project-list{
  grid-column: 1/3;
  grid-row: 3/4;

  >.project-div{
    display: block;
    background-color: $whiteShade;
    color: $blackShade;
    justify-content: space-evenly;
    padding: 20px;

    > .project-vid{
      width: 60%;
      margin: auto;
    }

    .project-desc{
      padding: 50px;


      > h2{
        text-align: center;
        color: $pinkShade;
      }

      > h3{
        text-align: center;
      }

      > p{
        text-align: justify;
        margin: auto;
        width: 50%;
      }
    }
  }
}

iframe{
  box-shadow: $shadow;
}

.git-btn{
  display: flex;
  background-color: $pinkShade;
  border: none;
  color: $whiteShade;
  padding: 15px 32px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  margin: auto;
  box-shadow: $shadow;
  cursor: pointer;
}

.git-btn:hover{
  background-color: rgba(210, 55, 155, 0.76);
  transition: 0.5s;
}
