*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
}


a{
  text-decoration: none;
}


h1{
  font-size: 44px;
  font-family: Quicksand-bold, sans-serif;
}

h2{
  font-size: 32px;
  font-family: Quicksand-bold, sans-serif;
}

h3{
  font-size: 24px;
}

p{
  font-size: 16px;
}


body {
  background: $gradient;
  color: $whiteShade;

}

section{
  height: 1700px;
}

.grid{
  max-width: 1700px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 50px 0.5fr 1fr 1fr 1fr;
}